@model IEnumerable<Practica_n3.DTO.TodoDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.body)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.body)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.id">Ver</a>
                <a asp-action="Edit" asp-route-id="@item.id">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>